<form>
    <table class="main">
        <col class="w50" />
        <col class="w50" />
        <tr>
            <td>Affordable EMI</td>
            <td>
                <input id="emi2" />
                <tr>
                    <td>Repayment in Months</td>
                    <td>
                        <input id="months2" />
                        <tr>
                            <td>Interest Rate</td>
                            <td>
                                <input id="rate2" />
                                <tr>
                                    <td><button type="reset">Reset</button></td>
                                    <td>
                                        <button class="button-primary" type="button" onclick="principal()">Calculate</button>
                                        <tr>
                                          <td><b>Affordable Loan</b></td>
                                            <td>
                                                <input id="princ2" />
                                                <tr>
                                                  <td><b>Interest Payable</b></td>
                                                    <td>
                                                        <input id="tintt2" />
                                                        <tr>
                                                          <td><b>Total Payable</b></td>
                                                            <td><input id="gt2" /></td>
                                                        </tr>
                                                    </td>
                                                </tr>
                                            </td>
                                        </tr>
                                    </td>
                                </tr>
                            </td>
                        </tr>
                    </td>
                </tr>
            </td>
        </tr>
    </table>
</form>
