<form>
    <table class="main">
        <col class="w50" />
        <col class="w50" />
        <tr>
            <td>Loan Amount</td>
            <td>
                <input id="loan1" />
                <tr>
                    <td>Repayment in Months</td>
                    <td>
                        <input id="months1" />
                        <tr>
                            <td>Interest Rate</td>
                            <td>
                                <input id="rate1" onchange="emi();" />
                                <tr>
                                    <td><button type="reset">Reset</button></td>
                                    <td>
                                        <button class="button-primary" type="button" onclick="emi()">Calculate</button>
                                        <tr>
                                            <td><b>EMI</b></td>
                                            <td>
                                                <input id="pay1" />
                                                <tr>
                                                    <td><b>Interest Payable</b></td>
                                                    <td>
                                                        <input id="tintt1" />
                                                        <tr>
                                                            <td><b>Total Payable</b></td>
                                                            <td><input id="gt1" /></td>
                                                        </tr>
                                                    </td>
                                                </tr>
                                            </td>
                                        </tr>
                                    </td>
                                </tr>
                            </td>
                        </tr>
                    </td>
                </tr>
            </td>
        </tr>
    </table>
</form>
