<div class="navbar-spacer"></div>
<nav class="navbar" id="top">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="{{ site.url | absolute_url }}">SIP</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{{ site.url | absolute_url }}/interest">Interest</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{{ site.url | absolute_url }}/emi">EMI</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{{ site.url | absolute_url }}/lumpsum">Lumpsum</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{{ site.url | absolute_url }}/mf">Mutual Fund</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{{ site.url | absolute_url }}/afloan">Affordale Loan</a></li>
        </ul>
    </div>
</nav>
